.navbar {
    z-index: 20;
    background-color: rgb(0, 0, 0);
    border: 3px solid #000;
    width: 450px;
    border-radius: 25px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .nav-element {
        flex-grow: 1;
        text-align: center;
        padding: 12px 0 8px 0;
        font-size: 1.2em;
        transition: all 0.2s;
        border: 2px;
        background-color: #fff;
        &.bar {
            border-right: 2px solid #000;
        }
        &.active {
            color: #fff;
            font-weight: bold;
            background-color: rgb(0, 0, 0);
        }
    }
    .nav-element:hover {
        cursor: pointer;
        font-weight: bold;
        background-color: rgb(214, 214, 214);
        color: #000;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        width: 80vw;
        margin-right: 15vw;
    }
}