.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    font-size: 2em;
    z-index: 45;
}

@media screen and (max-width: 800px) {
    .container {
        font-size: 1.1em;
        width: 70vw;
        height: 105px;
    }
}