.action-select {
  border: 2px solid #000;
    background-color: #fff;
    border-radius: 15px;
    padding: 6px;
    font-size: 1.3em;
    text-align: center;
    width: 220px;
    margin: 3px 0;
    cursor: pointer;
 }
