<div class="navbar">
    <app-navbar></app-navbar>
</div>
<div class="gcode-container">
    <!-- <app-gcode-renderer></app-gcode-renderer> -->
    <app-canvas-gcode-renderer></app-canvas-gcode-renderer>
    <app-select-lines-slider (sliderUpdate)="sliderUpdated($event)" [timeEstimate]="estimatedSeconds"></app-select-lines-slider>
    <div class="controls">
        <app-start-draw (clicked)="startDraw()"> </app-start-draw>
        <app-cancle-button> </app-cancle-button>
        <app-delete-button *ngIf="gcodeViewerService.gcodeId.length > 0"></app-delete-button>
    </div>
</div>
<app-settings-button></app-settings-button>