<div class="pop-up-container">
    <div class="settings-container">
        <div class="close" (click)="checkChanges()">
            <fa-icon [icon]="faTimes"></fa-icon>
        </div>
        <h1>Settings</h1>

        <div class="divider" *ngIf="siteStateService.serverOnline">
            <div class="label">General</div>
        </div>
        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label">Shutdown</div>
            <div class="action-button" (click)="confirmDialog!.show()">
                <fa-icon [icon]="faPowerOff"></fa-icon>
            </div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">Serial Port</div>
            <!--html select for serial port options-->
            <select class="action-select" [(ngModel)]="settings.port" (change)="setSerialPort()">
        <option *ngFor="let port of availableSerialPorts" [value]="port.path">
          {{ port.path }} ({{ port.manufacturer }})
        </option>
      </select>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                BgRemove API key
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        API Key for the remove.bg api. If you want to be able to automatically remove the background of your pictures you have to provide an api key.
                        <br />
                        <br /> To get one go to https://www.remove.bg/ and create an account than go to https://www.remove.bg/de/dashboard#api-key and copy the key.
                    </div>
                </div>
            </div>
            <input type="text" class="action-textinput" [(ngModel)]="bgRemoveApiKey" />
            <div class="action-button" (click)="setBgRemoveApiKey()"><b>Set</b></div>
        </div>

        <div class="setting-line">
            <div class="label">API endpoint</div>
            <input type="text" class="action-textinput" [(ngModel)]="ip" />
            <div class="action-button" (click)="setNewIp()"><b>Set</b></div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Time per line
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        The average time in seconds it takes to draw one line. This value is used in the time estimations, adjust it if they are not correct.
                    </div>
                </div>
            </div>
            <input type="number" class="action-textinput" [(ngModel)]="settings.avgTimePerLine" />
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Image size (MB)
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        The size to which an uploaded image gets compressed. Attention: to high file sizes can crash the program on a raspberry pie!
                    </div>
                </div>
            </div>
            <input type="number" class="action-textinput" [(ngModel)]="settings.maxImageFileSize" />
        </div>

        <div class="divider" *ngIf="siteStateService.serverOnline">
            <div class="label">Gcode upload</div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label">Standardize gcode</div>
            <mat-checkbox [(ngModel)]="settings.standardizeGcode"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Convert G0 to G1
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Converts all G0, G01 or G00 commands to G1 commands.
                    </div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.standardizerSettings.convertG0"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Remove unnecessary parameter
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Removes unnecessary (F and Z) parameter in G1 commands.
                    </div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.standardizerSettings.removeUnusedParameter"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Transform to positive
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Transforms all coordinates in the drawing to ensure that there are no negative coordinates.
                    </div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.standardizerSettings.transfromToPositiveSpace"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Scale Gcode
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Scales the gcode to fit exactly into the drawing area
                    </div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.standardizerSettings.scaleToDrawingArea"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Remove unsupported Commands
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        This will remove all lines in the gcode that aren't starting with the commands defined below.
                    </div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.standardizerSettings.removeUnsupportedCommands"></mat-checkbox>
        </div>

        <div class="setting-line indent" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Supported Commands
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Commands supported by your drawing machine. Commands are separated by a ';'
                    </div>
                </div>
            </div>
            <input type="text" class="action-textinput" [(ngModel)]="settings.standardizerSettings.supportedCommands" />
        </div>

        <div class="divider" *ngIf="siteStateService.serverOnline">
            <div class="label">Plotter controls</div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Drawing area start
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        The min. values for your drawing area. All gcode will be scaled to exactly fit it.
                    </div>
                </div>
            </div>
            <span>
        X:
        <input
          type="number"
          class="action-textinput short"
          [(ngModel)]="settings.drawingOffset[0]"
        />
        Y:
        <input
          type="number"
          class="action-textinput short"
          [(ngModel)]="settings.drawingOffset[1]"
        />
      </span>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Drawing area end
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        The max. values for your drawing area. All gcode will be scaled to exactly fit it.
                    </div>
                </div>
            </div>
            <span>
        X:
        <input
          type="number"
          class="action-textinput short"
          [(ngModel)]="settings.paperMax[0]"
        />
        Y:
        <input
          type="number"
          class="action-textinput short"
          [(ngModel)]="settings.paperMax[1]"
        />
      </span>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline && settings.standardizeGcode">
            <div class="label small">
                Center gcode
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">Center the gcode in the drawing area.</div>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="settings.centerOnDrawingArea"></mat-checkbox>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label">Home pen</div>
            <div class="action-button" (click)="home()"><b>Home</b></div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label">Move pen</div>
            <div class="button-group">
                <div class="action-button" (click)="penUp()"><b>Up</b></div>
                <div class="action-button" (click)="penDown()"><b>Down</b></div>
            </div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">Pen up command</div>
            <textarea class="action-textinput area" [(ngModel)]="settings.penUpCommand"></textarea>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">Pen down command</div>
            <textarea class="action-textinput area" [(ngModel)]="settings.penDownCommand"></textarea>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Start gcode
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        This gcode gets appended at the start of every gcode that gets drawn.
                    </div>
                </div>
            </div>
            <textarea class="action-textinput area" [(ngModel)]="settings.startGcode"></textarea>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                End gcode
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        This gcode gets appended at the end of every gcode that gets drawn.
                    </div>
                </div>
            </div>
            <textarea class="action-textinput area" [(ngModel)]="settings.endGcode"></textarea>
        </div>

        <div class="divider" *ngIf="siteStateService.serverOnline">
            <div class="label">Updates & Data</div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">Available updates</div>
            <div class="label small wide" *ngIf="!updatesAvailable">
                <b>System is on the newest version</b>
            </div>
            <div class="action-button" *ngIf="updatesAvailable" (click)="update()">
                <b>{{ availableUpdateVersion }}</b>
            </div>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Download data
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Zips all data and downloads it locally. This includes all images, gcodes, logs and the system settings.
                    </div>
                </div>
            </div>
            <a href="/zipData" [href]="'http://' + ip + '/zipData'" download>
                <div class="action-button"><b>Download</b></div>
            </a>
        </div>

        <div class="setting-line" *ngIf="siteStateService.serverOnline">
            <div class="label small">
                Reset settings
                <div class="tooltip">
                    <fa-icon [icon]="faInfo"></fa-icon>
                    <div class="content">
                        Resets all settings to their default values.
                    </div>
                </div>
            </div>
            <div class="action-button" (click)="resetSettings()"><b>Reset</b></div>
        </div>
        <div class="version">
            Version: {{ backendVersion.tag }} {{ backendVersion.production ? "" : "Development" }}
        </div>
    </div>

    <div class="save-container" *ngIf="!compareSettings(settingsBefore, settings)">
        <div class="button-group">
            <div class="action-button save-control cancle" (click)="discardSettings()">
                <b>Cancel</b>
            </div>
            <div class="action-button save-control save" (click)="setSettings(); close.emit()">
                <b>Save</b>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog #dialog (yes)="shutdown()"></app-confirm-dialog>

<app-confirm-dialog #deleteSaved [text]="'You have unsaved changes! Do you want to save them?'" [buttons]="['Discard', 'Save']" (no)="discardSettings()" (yes)="setSettings(); close.emit()"></app-confirm-dialog>
