<app-dragndrop></app-dragndrop>
<div class="selfie-display" *ngIf="cameraService.base64Image">
  <app-selfie-display></app-selfie-display>
</div>
<div class="camera-window-container" *ngIf="enableCameraAPI">
  <app-camera-window></app-camera-window>
</div>
<div class="open-camera" *ngIf="!cameraService.showWebcam">
  <app-open-camera-button
    [converterConfig]="
      getConverterConfigByName(settings.converter.selectedConverter)
    "
  ></app-open-camera-button>
</div>
<div class="converter-selector">
  <app-select-chip
    [label]="'Converter'"
    [options]="
      generateConverterNameArray(settings.converter.availableConverter)
    "
    [(ngModel)]="settings.converter.selectedConverter"
    (ngModelChange)="onConverterSelectChange()"
  ></app-select-chip>
</div>
<div class="snapshot-controls" *ngIf="cameraService.base64Image">
  <app-checkbox-chip
    [label]="'Remove background'"
    [default]="removeBg"
    (buttonChange)="setRBG($event)"
    *ngIf="siteStateService.appState.removeBG"
  ></app-checkbox-chip>
  <app-submit-selfie (clicked)="postSelfie()"></app-submit-selfie>
  <app-retake-selfie-button></app-retake-selfie-button>
</div>
<app-loading></app-loading>
<div class="navbar">
  <app-navbar></app-navbar>
</div>
<app-terminal-button></app-terminal-button>
<app-settings-button></app-settings-button>
