.draw {
    font-size: 2em;
    padding: 10px 0;
    width: 200px;
    background-color: rgb(0, 255, 170);
    border-radius: 15px;
    box-shadow: 8px 8px 10px #000;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    &.not-allowed {
        cursor: not-allowed;
        background-color: rgb(119, 119, 119);
        color: rgb(197, 197, 197);
    }
}

@media screen and (max-width: 700px) {
    .draw {
        font-size: 1.5em;
        width: 130px;
    }
}