.drawing-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: calc(100% - 45px);
  overflow: hidden;
  margin-top: 45px;
  .txt-overlay {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    &.error-drawing {
      h1 {
        color: red;
      }
    }
  }

  .multi-tool {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
