<!-- Html/Css from: https://codepen.io/octa022/pen/MPjjRd -->

<a class="float" *ngIf="downloadableFileTypes.length > 0">
  <fa-icon class="icon" [icon]="faDownload"></fa-icon>
</a>

<ul *ngIf="downloadableFileTypes.length > 0">
  <li *ngIf="downloadableFileTypes.includes('jpg')">
    <a
      href="/downloadJPG"
      [href]="'http://' + ip + '/downloadJPG?name=' + formatFileId(fileId)"
      download
    >
      .jpg
    </a>
  </li>
  <li *ngIf="downloadableFileTypes.includes('png')">
    <a
      href="/downloadPNG"
      [href]="'http://' + ip + '/downloadPNG?name=' + formatFileId(fileId)"
    >
      .png
    </a>
  </li>
  <li *ngIf="downloadableFileTypes.includes('svg')">
    <a
      href="/downloadSVG"
      [href]="'http://' + ip + '/downloadSVG?name=' + formatFileId(fileId)"
    >
      .svg
    </a>
  </li>
  <li *ngIf="downloadableFileTypes.includes('nc')">
    <a
      href="/downloadGcode"
      [href]="'http://' + ip + '/downloadGcode?name=' + formatFileId(fileId)"
      download
    >
      .nc
    </a>
  </li>
</ul>
